@model WebApplication_0919.Models.ProductCreateVm

@{
    ViewData["Title"] = "Create";
}

<h4>新增商品</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-2">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="FileName" class="form-label"></label>
                <input type=file name="file1" class="form-control"/>
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
